.footer {
    padding: 70px 0;

    background-color: #1A1A1A;
}

.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    margin-bottom: 66px;
}

.footer__nav-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff; 
    text-decoration: none;

    transition: color 0.3s ease-in;
}

.footer__nav-item:hover {
    color: #15D784;
}

.footer__nav {
    display: flex;
    column-gap: 50px;
}

.footer__socials {
    display: flex;
    column-gap: 30px;
}

.footer__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    border-radius: 48px;
    background: rgba(196, 196, 196, 0.10);

    transition: background-color 0.3s ease-in;
}

.footer__socials-item:hover {
    background-color: #15D784;
}

.footer__copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.30);

    p + p {
        margin-top: 15px;
    }
}
