.section-price {
    height: 987px;

    @include bgImage ('./../img/main/price-bg.jpg');

    position: relative;

    &::before {
        @extend %overlay;
    }    
}

.section-price__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    padding: 90px 0 100px;

    color: #fff;
    text-align: center;
}

.section-price__header {
    margin-bottom: 80px;
}

.section-price__title {
    margin-bottom: 40px;
}

.section-price__row {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}