.section-cta {
    padding: 84px 0;

    @include bgImage ('./../img/main/cta-bg.jpg');

    position: relative;

    &:before {
        @extend %overlay;
    }
}

.section-cta__content {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    color: #fff;
    text-align: center;
}

.section-cta__title {
    margin-bottom: 40px;

    font-size: 22px;
    font-weight: 500;
    line-height: 1;

    span {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.section-cta .button {
    display: inline-block;
    text-decoration: none;
}